.App {
  /* margin-top: 60px; */
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

#bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 12%, rgba(8, 142, 218, 1) 100%);
  /* background: linear-gradient(0deg, rgba(8, 142, 218, 1) 12%, rgba(255, 255, 255, 1) 100%); */
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

/* #bubbles {
  background-image: url(https://img1.picmix.com/output/stamp/normal/6/7/1/2/1812176_0f81d.gif);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 150px;
  left: 0;
  z-index: -1;
  background-size: cover;
} */

#gameImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
  box-shadow: 7px 7px 5px black;
  border-radius: 5px;
}

#gameImageDiv {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* overflow: hidden; */
}

#navbar {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

#userInfo {
  margin-top: 90px;
  text-align: center;
}

.tile {
  width: 37.6px;
  z-index: 1;
  box-shadow: 3px 3px 5px black;
  border-radius: 6px;
}

.tile:hover {
  transform: scale(1.05);
}

#gameBoard {
  height: 90px;
  font-size: 66.8px;
  margin-top: -44px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  z-index: -1;
  user-select: none;
  font-family: 'dash';
  font-weight: 300;
  transform: scale(1, 0.78);
}

#gameArea {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: 220px;
}

.new-area {
  height: 40px;
  display: flex;
  flex-direction: row;
  margin-left: 0;
  text-align: left;
  z-index: 1;
}

.new-area img {
  margin-bottom: 23px;
}

.original-area {
  height: 110px;
  width: 372px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 96px;
}

.original-area img {
  margin-left: 1.86px;
  margin-right: 1.86px;
}

#topTwoRows {
  width: fit-content;
  max-width: 376px;
  margin-left: auto;
  margin-right: auto;
}

#timer {
  border: 3px solid black;
  width: 30px;
  height: 25px;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background-image: url(./assets/images/wood.jpg);
  padding-top: 9px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
}

#help {
  border: 3px solid black;
  width: 30px;
  height: 25px;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background-image: url(./assets/images/wood.jpg);
  padding-top: 9px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
}

#bioButton {
  border: 3px solid black;
  width: 30px;
  height: 25px;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background-image: url(./assets/images/wood.jpg);
  padding-top: 9px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  margin: 0;
}

#bioButton:hover {
  cursor: pointer;
}

#help:hover {
  cursor: pointer;
}

#guess {
  margin-top: -5px;
  z-index: 0;
  width: 0px;
  height: 0px;
  border: none;
  background-color: transparent;
  outline: none;
}

#timerAndScore {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  justify-content: space-between;
}

#topContainer {
  position: relative;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#startButton {
  margin-top: 100px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.button-53 {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

.gameButton {
  background-image: url(/src/assets/images/wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: 3px solid black;
  filter: hue-rotate(40deg);
  filter: brightness(90%);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 3px 3px 5px black;
}

.gameButton:hover {
  transform: scale(1.05);
}

#rescramble {
  margin-left: 6px;
  margin-right: 6px;
}

.shuffle {
  background-image: url(/src/assets/images/shuffleIcon.png), url(/src/assets/images/wood.jpg);
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.message {
  background-image: url(/src/assets/images/wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}

.recallTiles {
  background-image: url(/src/assets/images/resetIcon.png), url(/src/assets/images/wood.jpg);
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.guess {
  background-image: url(/src/assets/images/wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.reveal {
  background-image: url(/src/assets/images/wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.advance {
  background-image: url(/src/assets/images/advanceIcon.png), url(/src/assets/images/wood.jpg);
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

#bottomStuff {
  position: fixed;
  bottom: 57px;
  left: 0;
  right: 0;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 20px;
  text-align: center;
}

.listedArtist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listedArtist p {
  font-weight: bold;
}

.listedArtist img {
  width: 40px;
  margin-left: 5px;

}

#history {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 308px;
  overflow: scroll;
  padding-left: none;
  max-width: 700px;
}

#history h2 {
  text-align: center;
  text-decoration: underline;
}

.historyIcons {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

@font-face {
  font-family: 'dash';
  src: url(../src/assets/fonts/RedditMono-VariableFont_wght.ttf);
}

#leaderboard {
  margin-top: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#leaderboard tbody {
  font-weight: bold;
}

#leaderboard th {
  font-size: 26px;
  padding-right: 40px;
}

#leaderboard h1 {
  text-align: center;
  text-decoration: underline;
}

.graph {
  max-height: 500px;
  max-width: 700px;
  /* border: 3px solid black; */
  margin-bottom: 20px;
}

#statsFullPage {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#statsFullPage h2 {
  text-align: center;
}

#doughnut {
  width: 100%;
  position: relative;
}

#percentage {
  position: absolute;
  left: 50%;
  top: 48.5%;
  transform: translate(-50%, -50%);
  background-color: #23d866;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%;
  border: 2px solid white;
}

#musicHints {
  position: relative;
  width: 70px;
  margin-top: 5px;
}

#musicHintsNumber {
  color: #E5E7EB;
  font-weight: bold;
  border-radius: 50%;
  padding-top: 3px;
  padding-left: 8px;
  padding-bottom: 3px;
  padding-right: 7px;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2px;
  z-index: 1;
}

#hintIcon {
  padding: 4px;
  margin-top: 7px;
  margin-bottom: 5px;
  height: 30px;
  border: 3px solid black;
  border-radius: 50%;
  background-image: url(./assets/images/wood.jpg);
  z-index: 2;
}

#hintIcon:hover {
  cursor: pointer;
}

#firstLetterHints {
  position: relative;
  width: 70px;
  margin-top: 5px;
}

#firstLetterHintsNumber {
  color: #E5E7EB;
  font-weight: bold;
  border-radius: 50%;
  padding-top: 3px;
  padding-left: 8px;
  padding-bottom: 3px;
  padding-right: 7px;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2px;
  z-index: 1;
}

#firstLetterIcon {
  padding: 4px;
  margin-top: 7px;
  margin-bottom: 5px;
  height: 30px;
  border: 3px solid black;
  border-radius: 50%;
  background-image: url(./assets/images/wood.jpg);
  z-index: 2;
}

#firstLetterIcon:hover {
  cursor: pointer;
}

#coins {
  display: flex;
  flex-direction: row;
}

#coinGif {
  margin-top: 4px;
  width: 70px;
  margin-right: -10px;
}

#score {
  font-size: 20px;
}

#helpDiv {
  box-sizing: border-box;
  height: 93vh;
  width: 100vw;
  max-width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  z-index: 2;
  background-image: url(./assets/images/wood.jpg);
  background-size: contain;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 5px solid black;
}

#helpContent {
  height: 100%;
  overflow: scroll;
}

#helpCloseButton {
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 25px;
}

#helpCloseButton:hover {
  cursor: pointer;
}

#bioCloseButton {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 25px;
}

#bioCloseButton:hover {
  cursor: pointer;
}

.genreSelectRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#genreSelectList {
  font-weight: bold;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  overflow: scroll;
  padding-right: 25px;
  columns: 2;
}

.instructionRow {
  border: 1px solid black;
  padding: 10px;
  background-color: #E5E7EB;
  margin-bottom: 5px;
  /* height: fit-content; */
  display: flex;
  flex-direction: row;
}

.hintInstructionRow {
  border: 1px solid black;
  padding: 10px;
  background-color: #fbfbfb;
  margin-bottom: 5px;
  /* height: fit-content; */
  display: flex;
  flex-direction: row;
}

.instructionImg {
  margin-right: 10px;
  height: 50px;
  width: 120px;
}

.instructionText {
  margin: 0;
}

#moreArtistInfo {
  box-sizing: border-box;
  height: 100vw;
  width: 100vw;
  max-width: 400px;
  max-height: 400px;
  min-height: 350px;
  position: fixed;
  top: 15px;
  left: 0;
  padding: 15px;
  z-index: 2;
  background-image: url(./assets/images/wood.jpg);
  background-size: contain;
  border-radius: 30px;
  border: 5px solid black;
  /* display: none; */
}

#clues {
  height: 321px;
  margin-left: 5px;
}

#artistBio {
  height: 70vw;
  overflow: scroll;
  min-height: 200px;
}

#longestStreak {
  text-align: center;
}